{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron">
    <h1>{% trans %} Hello {% endtrans %}</h1>
    <p>{% trans %} This project is an online MCQ that is used to check if your students have understood the course given to them. {% endtrans %}</p>
</div>

<ul>
    <li> <a href=" {{ url('user_index') }}">Liste des utilisateurs</a> </li>
</ul>

<a class="btn btn-primary" href="{{ path('app_login') }}">Se connecter</a>
{% endblock %}
